<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../lib/uilibs/bootstrap-3.3.5/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/styles/modifyKey.css" />
</head>
<body>
<div class="registerContainer">
    <div class="row">
        <div class="fixrow">
            <label class="short">用户名称：</label>
            <input class="form-control to_fixblock" id="user" >
        </div>
    </div>
    <div class="row">
        <div class="fixrow">
            <label class="short">旧密码：</label>
            <input type="password" class="form-control to_fixblock" id="card" >
        </div>
    </div>
    <div class="row">
        <div class="fixrow">
            <label class="short">新密码：</label>
            <input type="password" class="form-control to_fixblock" id="cash" >
        </div>
    </div>
    <div class="row">
        <div class="fixrow">
            <label>新密码确认：</label>
            <input type="password" class="form-control to_fixblock" id="yct" >
        </div>
    </div>
    <div class="row btn-btm">
        <button type="button" class="btn btn-info resgiter-btn reg-btn" id="register">注册</button>
        <button type="button" class="btn btn-info resgiter-btn" id="cancel">取消</button>
    </div>
</div>
<script type="text/javascript" src="../lib/uilibs/jquery/jquery-1.12.1.min.js" ></script>
<script type="text/javascript" src="../static/scripts/modifyKey.js"></script>
</body>
</html>
